@import url(http://fonts.googleapis.com/css?family=Abel);

.form_addques{
    width: 100%;
    
}
h1 {
    font: Abel;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #F5F5F5;
    margin: 10px -30px 10px -30px;
    color: #969696;
}
h1>span {
    display: block;
    font-size: 13px;
    color: #000000;
}
label {
    display: block;
    margin: 0px 0px 5px;
		font-size:17px;

}
 label>span {
    float: left;
    width: 20%;
		font-size:17px;

    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #000000;
}
input[type="textarea"]{color: #555;
    width: 70%;
	font-family:Abel;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
	font-size:17px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 30px;
    line-height:20px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);}
 textarea,select {
    color: #555;
		font:Abel;
	font-size:17px;

    width: 70%;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 130px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 100px;
    line-height:20px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

 .button {
    -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    
    background-color:#0099CC;
    border-radius:9px;
    -webkit-border-radius:9px;
    -moz-border-border-radius:9px;
    border:1px solid;
    display:inline-block;
    color:#ffffff;
    font-family: Abel;
    font-size:15px;
    font-weight:bold;
    height: 30px;
    line-height: 30px;
    width:100px;
    text-decoration:none;
    text-align:center;
	margin-right:300px;
	
}

 select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none;
   -moz-appearance: none;
    text-indent: 0.01px;
		font:Abel;

    text-overflow: '';
    width: 70%;
    line-height: 15px;
    height: 30px;
}





